<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rokuctl</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="remote-control">
        <h1>Fuck the ios Roku app</h1>
        <button id="toggleInteractiveMode" class="interactive-mode" onclick="toggleInteractiveMode()">Disable Interactive Mode</button>

        <div class="row">
            <button onclick="sendCommand('power_on')">Power On</button>
            <button onclick="sendCommand('power_off')">Power Off</button>
        </div>

        <div class="row">
            <button onclick="sendCommand('up')">Up</button>
        </div>
        <div class="row">
            <button onclick="sendCommand('left')">Left</button>
            <button onclick="sendCommand('select')">OK</button>
            <button onclick="sendCommand('right')">Right</button>
        </div>
        <div class="row">
            <button onclick="sendCommand('down')">Down</button>
        </div>

        <div class="row">
            <button onclick="sendCommand('volume_up')">Vol +</button>
            <button onclick="sendCommand('mute')">Mute</button>
            <button onclick="sendCommand('volume_down')">Vol -</button>
        </div>

        <div class="row">
            <button onclick="sendCommand('home')">Home</button>
            <button onclick="sendCommand('play_pause')">Play/Pause</button>
            <button onclick="sendCommand('info')">Info (*)</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
